.connected-image-container {
    background-color: $light-blue;
    .connected-image {
        height: 50vh;
        width: 100%;
        background-image: url('/images/connectednessPath.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: auto;
            .connected-image-text {
                height: 15vh;
                width: 100%;
                padding-left:10%;
                padding-right:20%;
                h2 {
                    font-size: 1.25em;
                    padding-top: 5rem;
                    font-family: 'Raleway', sans-serif;
                }
            }
    }
}
.services-breakdown {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: white;
        .individual-coaching-preview {
            margin-bottom: 3rem;
            .invidividual-coaching-title {
                background-color: $dark-blue;
                padding-top: 1rem;
                padding-bottom: 1rem;
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
                border-radius: 25px;
                color: white;
                button {
                    color: white;
                    h3 {
                        font-size: 1.25rem;
                        font-weight: 300;
                        color: white;
                    }
                }
            }
        }
        .team-coaching-preview {
            margin-bottom: 3rem;
            .team-coaching-title {
                background-color: $dark-blue;
                padding-top: 1rem;
                padding-bottom: 1rem;
                width: 90%;
                margin-left: 5%;
                margin-right: 5%;
                border-radius: 25px;
                color: white;
                button {
                    color: white;
                    h3 {
                        font-size: 1.25rem;
                        font-weight: 300;
                        color: white;
                    }
                }
            }
        }
}
.avatar {
    margin-top: 5vh;
    margin-bottom: 2vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
    background-color: $dark-blue;
    img {
        margin-left: auto;
        margin-right: auto;
        border-radius: 50%;
    }
}
.meet-helen {
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: $light-blue;
    color: white;
    .meet-helen-title {
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
    .meet-helen-description {
        text-indent: 1vw;
        margin: 5%;
        p {
            padding-bottom: 5%;
        }
    }
}
.learn-more-button {
    padding-top: 2vh;
    padding-bottom: 5vh;
}
